.FormCard{
    
    background-color: white;
    display: flex;
   
    justify-content: center;
    height: 100px;
    border: 1px solid black;
    
}

.form-card-encloser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height:150px;
    margin-left:0;
    margin-right: 2%;
    margin-top: 2%; 
}

.response-link{
    align-self: center;
}