.HeaderButton{
    display: flex;
    flex-direction: row;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 3%;
    align-content: center;
    flex-grow: 1;
}

.label{
    padding-left: 1%;
    align-self: center;
    flex-grow: 1;
}

.material-icons{
    align-self: center;
}

